{% extends "RestooMainBundle::layout.html.twig" %}

{% block title "Administration: User" %}
{% block subheadline "Administration: User" %}

{% block submenu %}
	{% include 'RestooMainBundle:Admin:submenuUser.html.twig' %}
{% endblock %}

{% block content %}
	<table>
		<tr>
			<th>Username</th>
			<th>Name</th>
			<th>E-Mail</th>
			<th>Roles</th>
			<th>Actions</th>
		</tr>
	{% for user in users %}
		<tr>
			<td>{{ user.username }}</td>
			<td>{{ user.lastname }}, {{ user.firstname }}</td>
			<td>{{ user.email }}</td>
			<td>##TODO##</td>
			<td>
				<a href="{{ path( 'admin_edit_user', { 'id': user.id } ) }}">edit</a> 
				<a href="{{ path( 'admin_delete_user', { 'id': user.id } ) }}">delete</a> 
			</td>
		</tr>
	{% endfor %}
	</table>
{% endblock %}

{% block sidebar %}
	###ADD FILTER###
{% endblock %}	
