{% extends "RestooMainBundle::layout.html.twig" %}

{% block title "Dashboard" %}

{% block subheadline "My Dashboard" %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/restoomain/js/dashboard.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}

<div class="grid_6">
	<div class="box">
		<h2><a href="#" id="toggle-jobs">My Jobs</a></h2>
		<div id="jobs" class="block to-load" data-load="{{ path('job_overview') }}">
		</div>
	</div>
	
	<div class="box">
		<h2><a href="#" id="toggle-team">My Team</a></h2>
		<div id="team" class="block to-load" data-load="{{ path('team_overview') }}">
		</div>
	</div>
	
</div>
<div class="grid_6">
	
	<div class="box">
		<h2><a href="#" id="toggle-planning">My Planning</a></h2>
		<div id="planning" class="block to-load" data-load="{{ path('planning_overview') }}">
		</div>
	</div>
		
	<div class="box">
		<h2><a href="#" id="toggle-packages">My Packages</a></h2>
		<div id="packages" class="block to-load" data-load="{{ path('package_overview') }}">
		</div>
	</div>
</div>
<div class="grid_4">
	<div class="box">
		<h2><a href="#" id="toggle-search">Search</a></h2>
		<div class="block" id="search">
			<form method="get" action="" class="search">
				<p>
					<input class="search text" name="value" type="text">
					<input class="search button" value="Search" type="submit">
				</p>
			</form>
		</div>
	</div>
		<div class="box">
		<h2><a href="#" id="toggle-notices">Notices</a></h2>
		<div class="block" id="notices">
		</div>
	</div>
</div>
{% endblock %}