{% extends "RestooMainBundle::layout.html.twig" %}

{% block title "Package edit" %}
{% block subheadline "Package edit" %}

{% block submenu %}
	{% include 'RestooMainBundle:Package:submenu.html.twig' %}
{% endblock %}

{% block content %}

<form action="{{ path('package_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
	<hr />
	<ul class="record_actions">
	    <li>
	        <a href="{{ path('package') }}">Back to the list</a>
	    </li>
	    <li>
	    	<a href="#" class="addElement">Add element</a>
	    </li>
	    <li>
	        <form action="{{ path('package_delete', { 'id': entity.id }) }}" method="post">
	            {{ form_widget(delete_form) }}
	            <button type="submit">Delete</button>
	        </form>
	    </li>
	    <li>
	    	<button type="submit">Save</button>
	    </li>
	</ul>
</form>
{% endblock %}