{% extends "RestooMainBundle::layout.html.twig" %}

{% block title "Package edit" %}
{% block subheadline "Package edit" %}

{% block submenu %}
	{% include 'RestooMainBundle:Package:submenu.html.twig' %}
{% endblock %}

{% block content %}

<div class="box">
	<h2><a href="#" id="toggle-forms">Edit Package</a></h2>
	<div class="block" id="forms">
	
		<form action="{{ path('package_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
		    
		    {{ form_errors(edit_form) }}
		    <fieldset>
		    	<legend>Properties</legend>
		    	
				{{ form_row(edit_form.title) }}
	    		{{ form_row(edit_form.interval) }}

		    </fieldset>
		    
		    <fieldset>
		    	<legend>Jobs</legend>
		    	
		    	<div id="package_jobs" data-prototype="{{ form_widget(edit_form.jobs.get('prototype')) | e }}">
		    	
		    	{% for jobField in edit_form.jobs %}
			        {{ form_errors(jobField) }}
			        {{ form_widget(jobField) }}
				{% endfor %}
				
				</div>
		    </fieldset>
		    
		    {{ form_row(edit_form._token) }}
		    
		    <fieldset>
	    		<button type="submit">Save</button>
	    		<button class="addElement">Add Job</button>
	    	</fieldset>
		</form>
	</div>
</div>
{% endblock %}