{% extends "RestooMainBundle::layout.html.twig" %}

{% block title "Package creation" %}
{% block subheadline "Package creation" %}

{% block submenu %}
	{% include 'RestooMainBundle:Package:submenu.html.twig' %}
{% endblock %}

{% block content %}

<div class="box">
	<h2><a href="#" id="toggle-forms">Edit Package</a></h2>
	<div class="block" id="forms">

		<form action="{{ path('package_create') }}" method="post" {{ form_enctype(form) }}>
			
			{{ form_errors(form) }}
		    <fieldset>
		    	<legend>Properties</legend>
				{{ form_row(form.title) }}
	    		{{ form_row(form.interval) }}
		    	
		    	 {{ form_row(form._token) }}
		        
		    </fieldset>
		    
		    <fieldset>
		    	<button class="" type="submit">Create</button>
		    </fieldset>
		</form>
	</div>
</div>
{% endblock %}