{% extends "RestooMainBundle::layout.html.twig" %}

{% block title "Job Edit" %}
{% block subheadline "Job Edit" %}

{% block submenu %}
	{% include 'RestooMainBundle:Job:submenu.html.twig' %}
{% endblock %}

{% block content %}
<div class="box">
	<h2><a href="#" id="toggle-forms">Edit job</a></h2>
	<div class="block" id="forms">
		<form action="{{ path('job_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
			{{ form_errors(edit_form) }}
			<fieldset>
				<legend>Properties</legend>
				{{ form_row(edit_form.alias) }}
				{{ form_row(edit_form.title) }}
				{{ form_row(edit_form.description) }}
				{{ form_row(edit_form.effort) }}
				{{ form_row(edit_form.deadline) }}
				{{ form_row(edit_form.receiver) }}
				{{ form_rest(edit_form) }}
			</fieldset>
			<fieldset>
				<button type="submit">Edit</button>
			</fieldset>
		</form>
	</div> 
</div>
{% endblock %}