{% extends "RestooMainBundle::layout.html.twig" %}

{% block title "Jobs" %}
{% block subheadline "Jobs" %}

{% block submenu %}
	{% include 'RestooMainBundle:Job:submenu.html.twig' %}
{% endblock %}

{% block content %}
	<table>
	<tr>
		<th>Alias</th>
		<th>Title</th>
		<th>Created by</th>
		<th>Assigned to</th>
		<th>Package</th>
		<th>Actions</th>
	</tr>
	{% for job in jobs %}
		<tr>
			<td><a href="{{ path( 'job_show', { 'id': job.id } ) }}">{{ job.alias }}</td>
			<td>{{ job.title }}</td>
			<td>{{ job.reporter }}</td>
			<td>{{ job.receiver }}</td>
			<td>{{ job.package }}</td>
			<td>
				<a href="{{ path('job_edit', { 'id': job.id }) }}">edit</a>
				<a href="{{ path('job_delete', { 'id': job.id }) }}">delete</a>
			</td>
		</tr>
	{% else %}	
		<tr>
			<td colspan="6">No jobs found</td>
		</tr>
	{% endfor %}
	
	</table>

{% endblock %}