{% extends "RestooMainBundle::layout.html.twig" %}

{% block title "Jobs" %}
{% block subheadline "Jobs" %}

{% block submenu %}
	{% include 'RestooMainBundle:Job:submenu.html.twig' %}
{% endblock %}

{% block content %}
<div class="box">
	<h2><a href="#" id="toggle-forms">New job</a></h2>
	<div class="block" id="forms">
		<form action="{{ path('job_create') }}" method="post" {{ form_enctype(form) }}>
			{{ form_errors(form) }}
			<fieldset>
				<legend>Properties</legend>
				{{ form_row(form.alias) }}
				{{ form_row(form.title) }}
				{{ form_row(form.description) }}
				{{ form_row(form.effort) }}
				{{ form_row(form.deadline) }}
				{{ form_row(form.receiver) }}
				{{ form_rest(form) }}
			</fieldset>
			<fieldset>
				<button type="submit">Create</button>
			</fieldset>
		</form>
	</div>
</div>
{% endblock %}