<table>

	<thead>
		<th colspan="6" class="table-head">{{ headline }}</th>
		<tr>
			<th>Alias</th>
			<th>Title</th>
			<th>Effort</th>
			<th>Deadline</th>
			<th>Receiver</th>
			<th>Reporter</th>
		</tr>
	</thead>
	<tbody>
		{% for job in jobs %}
			<tr>
				<td>{{ job.alias }}</td>
				<td>{{ job.title }}</td>
				<td>{{ job.effort }}</td>
				<td>{{ job.deadline }}</td>
				<td>{{ job.receiver }}</td>
				<td>{{ job.reporter }}</td>
			</tr>
		{% else %}
		<tr><th colspan="6">No jobs found</th></tr>
		{% endfor %}
	</tbody>

</table>