{% extends "RestooMainBundle::layout.html.twig" %}

{% block title "Administration: Edit Team" %}
{% block subheadline "Administration: Edit Team" %}

{% block submenu %}
	{% include 'RestooMainBundle:Admin/Team:submenu.html.twig' %}
{% endblock %}

{% block content %}
<div class="box">
	<h2><a href="#" id="toggle-forms">Edit team</a></h2>
	<div class="block" id="forms">
		<form action="" method="post" >
			{{ form_errors(form) }}
			<fieldset>
				<legend>Properties</legend>
				{{ form_row(form.title) }}
				{{ form_row(form.leader) }}
				{{ form_row(form.members) }}
				{{ form_rest(form) }}
			</fieldset>
	
			<fieldset>
				<input type="submit" />
			</fieldset>
		</form>
	</div>
</div>
{% endblock %}

{% block sidebar %}
	###HELP###
{% endblock %}	
