<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="shortcut icon" href="{{ asset('bundles/restoomain/images/favicon.ico') }}" />
		<title>{% block title %}{% endblock %} - restoo</title>
		
	{% block stylesheets %}
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/restoomain/css/reset.css') }}" media="screen" />
 		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/restoomain/css/text.css') }}" media="screen" />
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/restoomain/css/grid.css') }}" media="screen" />
 		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/restoomain/css/layout.css') }}" media="screen" />
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/restoomain/css/nav.css') }}" media="screen" />
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/restoomain/css/smoothness/jquery-ui-1.8.20.custom.css') }}" media="screen" />
		<!--[if IE 6]><link rel="stylesheet" type="text/css" href="{{ asset('bundles/restoomain/css/ie6.css') }}" media="screen" /><![endif]-->
		<!--[if IE 7]><link rel="stylesheet" type="text/css" href="{{ asset('bundles/restoomain/css/ie.css') }}" media="screen" /><![endif]-->
	{% endblock %}
	
	</head>
	<body>
		<div class="container_16">
			<div class="grid_16">
				<h1 id="branding">
					<a href="{{ path('home') }}">restoo</a>
				</h1>
			</div>
			<div class="clear"></div>
			<div class="grid_16">
				<ul class="nav main">
					<li>
						<a href="{{ path('home') }}">Dashboard</a>
					</li>
				
					<li>
						<a href="#">Resources</a>
						<ul>
							<li>
								<a href="{{ path('job') }}">Jobs</a>
							</li>
							<li>
								<a href="{{ path('package') }}">Packages</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="{{ path('admin') }}">Administration</a>
						<ul>
							<li>
								<a href="{{ path('admin_users') }}">Users</a>
							</li>
							<li>
								<a href="{{ path('admin_teams') }}">Teams</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="{{ path('help') }}">Help</a>
						<ul>
							<li>
								<a href="{{ path('home') }}">Documentation</a>
							</li>
							<li>
								<a href="{{ path('home') }}">FAQ</a>
							</li>
							<li>
								<a href="{{ path('home') }}">About restoo</a>
							</li>
						</ul>
					</li>
					<li class="secondary">
						{% if app.user %} 
						 	<a href="{{ path('logout') }}">logout</a>
						{% else %}
						<a href="{{ path('login') }}">login</a>
						{% endif %}
					</li>
				</ul>
			</div>
			<div class="clear"></div>
			
			<div class="grid_16">
				<h2 id="page-heading">{% block subheadline %}{% endblock %}</h2>
			</div>
			
			<div class="clear"></div>
			{% block body %}
				<div class="grid_4">
					<div class="box menu">
						{% block submenu %}
						{% endblock %}	
					</div>
				</div>
				<div class="grid_8">
	                    {% block content %}
	                    {% endblock %}	
				</div>
				<div class="grid_4">
						{% block sidebar %}
						{% endblock %}	
				</div>
			{% endblock %}
				<div class="clear"></div>			
			
			<div class="grid_16" id="site_info">
				<div class="box">
					<p><strong>Template:</strong> <a href="http://www.designinfluences.com/fluid960gs/">Fluid 960 Grid System</a>, created by <a href="http://www.domain7.com/WhoWeAre/StephenBau.html">Stephen Bau</a>, based on the <a href="http://960.gs/">960 Grid System</a> by <a href="http://sonspring.com/journal/960-grid-system">Nathan Smith</a>. Released under the 
		<a href="../../../licenses/GPL_license.txt">GPL</a> / <a href="../../../licenses/MIT_license.txt">MIT</a> <a href="../../../README.txt">Licenses</a>.</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		
	{% block javascripts %}
		<script type="text/javascript" src="{{ asset('bundles/restoomain/js/jquery-1.7.1.min.js') }}"></script>
 		<script type="text/javascript" src="{{ asset('bundles/restoomain/js/jquery-ui-1.8.20.custom.min.js') }}"></script>
 		<script type="text/javascript" src="{{ asset('bundles/restoomain/js/jquery-fluid16.js') }}"></script>
 		<script type="text/javascript" src="{{ asset('bundles/restoomain/js/main.js') }}"></script>
	{% endblock %}
	</body>
</html>